<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.video.app.generator.mapper.ChannelMapper">

    <resultMap id="BaseResultMap" type="site.achun.video.app.generator.domain.Channel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="channelCode" column="channel_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="coverFileCode" column="cover_file_code" jdbcType="VARCHAR"/>
            <result property="bannerFileCode" column="banner_file_code" jdbcType="VARCHAR"/>
            <result property="visibility" column="visibility" jdbcType="TINYINT"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
            <result property="atime" column="atime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,channel_code,name,
        description,user_code,cover_file_code,
        banner_file_code,visibility,ctime,
        utime,atime
    </sql>
</mapper>
