[Unit]
Description=Achun Updown Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-updown
ExecStart=java -jar /home/luokong/workspace/achun/achun-updown/achun-updown-app/target/achun-updown-app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target