<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.file.generator.mapper.FileUnitMapper">

    <resultMap id="BaseResultMap" type="site.achun.file.generator.domain.FileUnit">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="viewLevel" column="view_level" jdbcType="INTEGER"/>
            <result property="orgin" column="orgin" jdbcType="OTHER"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unit_code,user_code,
        unit_name,author,view_level,
        orgin,ctime,utime,
        deleted
    </sql>


    <insert id="replaceInto" parameterType="site.achun.file.generator.domain.FileUnit">
        INSERT INTO `file_unit`
            (`unit_code`, `unit_name`,`ctime`, `utime`, `deleted`)
        VALUES
            (#{fu.unitCode},#{fu.unitName},#{fu.ctime},#{fu.utime},#{fu.deleted});
    </insert>

</mapper>
