<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.file.app.generator.mapper.StorageMapper">

    <resultMap id="BaseResultMap" type="site.achun.file.app.generator.domain.Storage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="storageCode" column="storage_code" jdbcType="VARCHAR"/>
            <result property="bucketCode" column="bucket_code" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="accessPrefix" column="access_prefix" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="extra" column="extra" jdbcType="OTHER"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,storage_code,
        bucket_code,path,access_prefix,
        status,extra,ctime,
        utime
    </sql>
</mapper>
