[Unit]
Description=Achun User Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-user
ExecStart=java -jar /home/luokong/workspace/achun/achun-user/achun-user-app/target/achun-user-app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target