[Unit]
Description=Achun File Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-audio
ExecStart=java -jar /home/luokong/workspace/achun/achun-audio/achun-audio-app/target/achun-audio-app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target