<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.user.app.generator.mapper.UserAccountMapper">

    <resultMap id="BaseResultMap" type="site.achun.user.app.generator.domain.UserAccount">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="coverFileCode" column="cover_file_code" jdbcType="VARCHAR"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_code,name,
        account,password,salt,
        cover_file_code,ctime,utime
    </sql>
</mapper>
