<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.gallery.app.generator.mapper.AlbumMapper">

    <select id="queryPage" resultType="site.achun.gallery.app.generator.domain.Album">
        SELECT
            a.*
        FROM
            album a
            LEFT JOIN gallery_group_record b ON a.album_code = b.list_code
        WHERE
            a.user_code = #{query.userCode}
        <if test="query.likeName != null and query.likeName != ''">
            AND a.NAME LIKE #{query.likeName}
        </if>
        <if test="query.groupCode != null and query.groupCode != ''">
            AND b.group_code = #{query.groupCode}
        </if>
        order by record_utime desc
    </select>

</mapper>
