<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.gallery.app.generator.mapper.BoardMapper">

    <resultMap id="BaseResultMap" type="site.achun.gallery.app.generator.domain.Board">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="boardCode" column="board_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="hide" column="hide" jdbcType="TINYINT"/>
            <result property="coverFileCodes" column="cover_file_codes" jdbcType="VARCHAR"/>
            <result property="bannerFileCode" column="banner_file_code" jdbcType="VARCHAR"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
            <result property="recordUtime" column="record_utime" jdbcType="TIMESTAMP"/>
            <result property="fileCount" column="file_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,board_code,name,
        description,user_code,hide,
        cover_file_codes,banner_file_code,ctime,
        utime,record_utime,file_count
    </sql>
</mapper>
