<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.achun.gallery.app.generator.mapper.GalleryGroupMapper">

    <resultMap id="BaseResultMap" type="site.achun.gallery.app.generator.domain.GalleryGroup">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="groupCode" column="group_code" jdbcType="VARCHAR"/>
            <result property="parentGroupCode" column="parent_group_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
            <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
            <result property="recordUtime" column="record_utime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_code,parent_group_code,
        name,description,user_code,
        type,ctime,utime,
        record_utime
    </sql>
</mapper>
