[Unit]
Description=Achun File Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-gallery
ExecStart=java -jar /home/luokong/workspace/achun/achun-gallery/achun-gallery-app/target/achun-gallery-app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target