[Unit]
Description=Achun File Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/root/buckets/workspace/gitee/achun/achun-file
ExecStart=/root/buckets/workspace/gitee/achun/achun-file/script/start-achun-file-app.sh
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target