[Unit]
Description=Achun File Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-file
ExecStart=/home/luokong/workspace/achun/achun-file/script/start-achun-file-app.sh
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target