[Unit]
Description=Achun File Application
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/home/luokong/workspace/achun/achun-file
ExecStart=java -jar /home/luokong/workspace/achun/achun-file/achun-file-app/target/achun-file-app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target